<%-include("partials/header.ejs")%>
<h1>Welcome to Blog Web App</h1>
<br/>
<div class="flex-container">
    <button class="btn btn-warning" type="submit"><a href="/create" class="text-decoration-none text-dark">Create Post</a></button>
</div>

<div class="flex-container">
    <div class="card" style="width: 18rem;">
        <img src="/images/flappybirdbg.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="/images/flappybirdbg.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="/images/flappybirdbg.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
        </div>
    </div>
</div>

<div class="flex-container">
    <button class="btn btn-warning" type="submit"><a href="/views" class="text-decoration-none text-dark">View All Posts</a></button>
</div>


<%-include("partials/footer.ejs")%>